/*
Template Name: PhotoProwess
File: Homepage CSS
Author: OS Templates
Author URI: http://www.os-templates.com/
Licence: <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>
*/


#homepage #hpage_slider{
	display: inherit;
	width:800px;
	height:120px;
	color:#FFF;
	background-color:#999;
	border:1px solid #D8D9DE;
	border-bottom-color:#FAFAFA;
	overflow:hidden;
	}



/* ----------------------------------------------Slider Navigation Buttons-------------------------------------*/

/*

Navigation dynamically created using: jquery.cycle.setup.js and jquery.cycle.min.js

HTML Output:

<div id="fsn">
  <ul id="fs_pagination">
    <li><a href="javascript:void()">1</a></li>
    <li><a href="javascript:void()">2</a></li>
    <li><a href="javascript:void()">3</a></li>
    <li><a href="javascript:void()">4</a></li>
    <li><a href="javascript:void()">5</a></li>
  </ul>
</div>

*/

body{
	margin:0;
	padding:0;
	font-size:13px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#000;
	background-color: #FFFFFF;
	}

#homepage #fsn{
	display:block;
	position:relative;
	width:498px;
	height:18px;
	margin:0 0 25px 0;
	text-align:center;
	z-index:1000;
	color:#999999;
	background-color:#FAFAFA;
	border:1px solid #D8D9DE;
	border-top-color:#FAFAFA;
	}

#homepage #fsn ul{
	display:block;
	position:relative;
	width:100px;
	height:10px;
	margin:0 auto;
	padding:0;
	overflow:hidden;
	list-style:none;
	}

#homepage #fsn ul li, #homepage #fsn ul li a{
	display:block;
	float:left;
	width:10px;
	height:10px;
	margin:0 10px 0 0;
	padding:0;
	}

#homepage #fsn ul li a{
	float:none;
	border:none;
	margin:0;
	outline:none;
	text-indent:-5000px;
	text-decoration:none;
	background: url(../images/banner/slide.png) 50% 50% no-repeat;
	}

#homepage #fsn .activeSlide{
	background:url(../images/banner/slide.png) 0% 50% no-repeat;
	}
